/*
* @Author: comely-fox
* @Date:   2018-05-12 16:23:26
* @Last Modified by:   comely-fox
* @Last Modified time: 2018-06-26 18:07:49
*/


body{
    position:relative;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
}
.main{
    position: relative;
    min-width: 1000px;
    height: 100%;
    box-sizing: border-box;
}

// 内容区
.main-wrap{

    position: relative;
    -min-height: 100%;
    overflow:hidden;
}

.upward-page{

    display: none;
    z-index: 999;
    position: absolute;
    left:0;
    top:0;
    right: 0;
    bottom:0;
    margin:auto;

    .mask-layer{
        position: absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        opacity: .6;
        background-color: black;
    }

    .up-main{

        position:relative;
        margin: auto;
    }

    .close{

        position: absolute;
        right: 0;
        top: 0;
        color: #fff;
        height: 40px;
        width: 43px;
        font-size: 16px;
        line-height: 40px;
        text-align: center;
        cursor: pointer;

        &:hover{

            background-color: red;
        }
    }
}


