/*
* @Author: comely-fox
* @Date:   2018-05-13 16:34:18
* @Last Modified by:   comely-fox
* @Last Modified time: 2018-06-27 10:52:01
*/

$color_red   : #de0404;
$color_red2  : red;
$color_blue  : #2d80b9;
$color_green : #1da02b;
$color_blue2 : #2fbb9b;

// icon
.fa{

    font-size: 16px;

    // success
    &.fa-check{

        color: $color_green;
    }

    // success
    &.fa-check-circle{

        color: $color_green;
    }

    // error
    &.fa-times-circle{

        color: $color_red2
    }

    // error close
    &.fa-close{

        color: $color_red2
    }
}

.btn {

    background-color: #e6e6e6;

    &.btn-edit{

        background-color: $color_blue;
    }

    &.btn-delete{

        background-color: $color_red;
    }
}

// 连接按钮
.link{
    padding: 8px 15px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    background-color: green;
    border-radius: 3px;

    &:hover{
        background-color: #156315;
    }

    &.btn-reset{
        background-color: #666;

        &:hover{
            background-color: #333;
        }
    }
}

// 连接文本
.link-text{

    font-size:14px;

    &:hover{

        color: red;
    }

}

// 输入框的样式
.input-box{

    position: relative;
    display: inline-block;

    // 输入框图标
    .input-icon{

        position: absolute;
        z-index: 1;
        top: 3px;
        height: 100%;
        width:36px;
        padding-left: 5px;
        text-align:center;
        font-size: 26px;

        &:after{
            content: "";
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }

    // 输入框标题
    .input-title{

        display: inline-block;
        width: 100px;
        text-align: right;
        font-size:14px;
        color: #565656;

    }

    // input控件
    .input{

        width: 280px;
        padding: 10px;
        border: 1px solid #ccc;
        font-size: 14px;
        color: #666;
        border-radius: 3px;

        &.include-icon{

            width: 254px;
            padding-left: 42px;
        }

        &:hover{

            border-color: $color_green;
        }

        &.password{
            width: 258px;
            padding-right: 30px;
        }

        &.disabled{

            background-color: #ebebeb;

            &:hover{

                border-color: #ccc;
            }
        }

    }

    //  控件容器获取焦点 input样式
    &.active{

        .input{

            border-color:#009bdb;
            box-shadow: 0 0 2px #009bdb;
        }
    }

    // 控件容器失败 input样式
    &.error{

        .input{

            border-color: red;
            box-shadow:0 0 3px red;
        }

    }

    // 控件容器成功 input获取样式
    &.success{

        .input{

            border-color:#3bab3b;
            transform: scale( 1.02, 1.02 );
            box-shadow:0 0 3px #3bab3b, 0 0 0 100px #fff inset;
        }

    }

}
// 输入框的样式End


// input password 可视
.input-veiw{

    position: absolute;
    right: 11px;
    top:12px;
    cursor: pointer;

    &.fa {

        font-size: 18px;

        &.fa-eye{

            color: #2abd21;
        }
    }
}


// 星号
.star-needful{

    position: relative;
    top:4px;
    margin-right: 2px;
    font-weight: bold;
    font-size: 18px;
    color: red;
}

// 重要文本高亮显示
.needful-text{

    font-size: 14px;
    color: #666;
}

// 文本提示包裹容器
.tip-box{

    position: relative;
    display: block;
}

// 文本提示
.tip-text{

    position: relative;
    display: inline-block;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 0.2em;
    color: #999;
    border-radius: 4px;

    .fa{

        position: absolute;
        left: 0;
        top:4px;
    }

    &.error {

        padding-left: 14px;
        color: #e81212;
    }

    &.success {

        padding-left: 18px;
        color: $color_green;

        .fa-check-circle{

            font-size: 18px;
        }
    }

}

// 密码强度
.progress-box{

    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    background-color: #fff;

    .progress-title{

        position:absolute;
        text-align:center;
        top:12px;
        width: 100%;
        color: #666;
    }
}

// 进度条
.progress-bar-wrap{

    position: relative;
    display: inline-block;
    width: 220px;
    height: 8px;
    line-height: 24px;
    vertical-align: middle;
    background-color: #F6F6FA;
    border-radius: 6px;
    overflow: hidden;

    .progress-bar{
        position: absolute;
        left: 0;
        top: 0;
        width:100%;
        height: 100%;
        transition: transform .6s;
        background-color: #F6F6FA;
        transform: translateX(0);
    }
    .progress-bar-stage{
        float: left;
        width:24.3%;
        height: 100%;
        margin-right: .7%;
        border-radius: 6px;
    }

    .progress-bar-stage-weak {

        background-color: #FF4B47;
        &.active{
            background-color: #FF4B47;
        }
    }

    .progress-bar-stage-general {

        &.active{
            background-color: #F9AE35;
        }
    }

    .progress-bar-stage-medium {

        &.active{
            background-color: #2F96EF;
        }
    }

    .progress-bar-stage-strong {

        &.active{
            background-color: $color_green;
        }
    }

}

// 进度条提示
.progress-text{

    font-weight: bold;
    color: #666;
    transition: color .5s;

    // 弱
    &.weak{

        color: #FF4B47;
    }

    // 一般
    &.general{

        color: #F9AE35;
    }

    // 中等
    &.medium{

        color: #2F96EF;
    }

    // 强
    &.strong{

        color: $color_green;
    }

}
// 密码强度 END


// 标签文本
.tag-text{

    padding: 8px;
    color: #fff;
    font-size: 14px;
    background-color:#666;
    border-radius: 3px;

    &.queryable{

        background-color: $color_blue2;
    }

    &.addable{

        background-color: $color_green;
    }
    &.editable{

        background-color: $color_blue;
    }

    &.deletable{

        background-color: $color_red;
    }
}

// 加载动画样式
.loading-effect{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    animation: ld-circle 1.6s infinite ease-in-out;

    .circle{
        position: absolute;
        left:0;
        top: 0;
        width:100%;
        height:100%;

        &:before{

            content: "";
            display: block;
            width: 12%;
            height: 12%;
            border-radius: 50%;
            background-color: #333;
            animation: ld-circleShrink 1.6s infinite ease-in-out both;
        }

        &.circle-1{

            transform: rotate(300deg);

            &:before{

                animation-delay: -1.5s;
            }
        }

        &.circle-2{

            transform: rotate(330deg);

            &:before{

                animation-delay: -1.4s;
            }
        }

        &.circle-3{

            transform: rotate(0deg);

            &:before{

                animation-delay: -1.3s;
            }
        }

        &.circle-4{

            transform: rotate(30deg);

            &:before{

                animation-delay: -1.2s;
            }
        }

        &.circle-5{

            transform: rotate(60deg);

            &:before{

                animation-delay: -1.1s;
            }
        }

        &.circle-6{

            transform: rotate(90deg);

            &:before{

                animation-delay: -1.0s;
            }
        }

        &.circle-7{

            transform: rotate(120deg);

            &:before{

                animation-delay: -0.9s;
            }
        }

        &.circle-8{

            transform: rotate(150deg);

            &:before{

                animation-delay: -0.8s;
            }
        }

        &.circle-9{

            transform: rotate(180deg);

            &:before{

                animation-delay: -0.7s;
            }
        }

    }
}
// 加载动画样式 END

// 加载动画
@keyframes ld-circleShrink{

    0%,
    100%{

        opacity: 1;
        transform: scale( 1 )
    }

    80%{
        opacity: 0;
        transform: scale( 0 )
    }
}

@keyframes ld-circle{

    0%{

        transform: rotate(0)
    }

    100%{

        transform: rotate( 360deg );
    }
}
// 加载动画 END


// 进度条
@keyframes progress{

    from{
        width: 0;
    }

    to{
        width: 24.5%;
    }
}