/*
* @Author: comely-fox
* @Date:   2018-05-13 15:24:44
* @Last Modified by:   comely-fox
* @Last Modified time: 2018-06-24 16:05:53
*/

body,h1,h2,h3,h4,h5,h6,
ul,li,ol,dl,dt,dd,input,button,select,
textarea,form,p,th,td,thead,tbody,tfoot,table,hr,
pre,code,fieldset,legend,blockquote,article,aside,
details,figcaption,figure,header,footer,nav,section
{
    padding:0;
    margin:0;
}

body{

    position: relative;
    font-size: 16px;
    font-family: punctuation,PingFangSC,"Microsoft YaHei","微软雅黑";
}
body,input,button,select{
    background-color:#fff;
}
a{
    text-decoration: none;
    color:#000;

}
table{
    border-collapse:collapse;
    border-spacing: 0;
}
li,dt,dd{
    list-style: none;
}
fieldset,img,input,button,select{
    border:0;
}
input,button,select,textarea{
    outline: none;
}

em,i,strong,b,address{
    font-style:normal;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{

    box-shadow: 0 0 0 100px #fff inset ;
}

// css3 自定义滚动条
html::-webkit-scrollbar{

        height: 6px;
        width: 6px;
}



html::-webkit-scrollbar-thumb{

    height:30px;
    background-color:#ebebeb;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba( 0, 0, 0, .3 )
}
html::-webkit-scrollbar-thumb:hover{

    background-color:#aaa;
}


.clearfix:after{
    clear: both;
}
.clearfix:after,
.clearfix:before{
    content: "";
    display: table;
}
.clearfix{
    *zoom:1;
}
.fl{
    float: left;
}
.fr{
    float: right;
}

body{
        background-color: #ededed;
}