/*
* @Author: comely-fox
* @Date:   2018-05-22 09:18:04
* @Last Modified by:   comely-fox
* @Last Modified time: 2018-06-27 10:15:27
*/
.tab-content{
    padding: 20px;
    background: #fff;
    .title{
        color: #666;
        height: 30px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 2px solid #eee;
    }
    .table{
        width: 100%;
        border: 1px solid #e3e3e3;
        text-align:center;
        box-shadow: 0 10px 0 #ccc;

        &.concise{
            border: none;
            box-shadow: none;
            tr{
                border-bottom: 1px solid #e8e8e8;
                background-color: #fff;

                &.collapse-bt{
                    border-bottom: none;
                }
            }

            td{
                border: none;
            }
        }

        th{
            padding: 12px 0;
            font-size: 14px;
            color: #666;
            background: linear-gradient( to bottom, #eee, #ccc );
            box-shadow: 0 -1px 0 #ccc;
            border: 1px solid #bbb;
            letter-spacing: 2px;
        }
        td{
            padding: 12px 0;
            border: 1px dotted #bbb;
            font-size: 13px;
            
            .fa{

                font-size: 16px;
            }
            &.cell{
                position: relative;
                text-align: left;
                padding-left: 8px;

                .link{
                    margin: 0 10px;
                    margin-top: 20px;
                }
            }
            &.cell-one{
                width: 28%;
            }
            &.cell-two{
                width: 20%;
            }

            &.cell-title{
                text-align: right;
                color: #333;
                .label{
                    display: inline-block;
                    width: 70px;
                    line-height: 34px;
                    text-align: center;
                    background-color: #f6f6f8;

                }
            }
        }
        tr{
            background-color: #f7f7f7;
        }
        tr:nth-child( 2n - 1 ){
            background-color: #fff;
        }
        .selected-label{
            margin: 0 8px;
            .selected{
                margin-right: 4px;
                vertical-align: middle;


            }

            .selected-text{
                vertical-align: middle;
            }
        }
        .disabled{
            color: #999;
        }
        .btn{
            display: inline-block;
            width: 28px;
            height: 22px;
            font-size: 20px !important;
            border-radius: 3px;
            color: white;
            margin: 4px;

            &.forbid{

                background-color: #666;
            }

        }


    }
    .tab-update-admin-wrap{
        padding: 10px;
        border: 1px solid #bbb;
        margin-bottom: 20px;
        background-color: #efefef;
        border-radius: 4px;
        box-shadow: 0 0 3px #666;
        .title{
            margin-bottom: 0;
            display:inline-block;
            background-color: #585858;
            padding: 8px;
            border-bottom: none;
            border-radius: 4px 4px 0 0;
            color:#fff;
        }
        .cell-username{
            font-size: 24px;
            font-weight: bold;
        }
        .btn-update-cancel{
            background-color: red;
        }
    }

    .pagination-wrap {
        position: relative;
        display: table;
        padding-top: 50px;
        margin: 0 auto;
    }


}