/*
* @Author: comely-fox
* @Date:   2018-05-19 11:05:14
* @Last Modified by:   comely-fox
* @Last Modified time: 2018-06-27 10:03:50
*/

// 公共头部样式
.header{

    position: relative;
    min-width: 1000px;
    width: 100%;
    padding: 30px 40px 20px;
    background-color: #1da02b;
    box-sizing: border-box;

    .logo-bar{

        float: left;
        height: 64px;
        line-height: 64px;

        .logo-icon{

            display: inline-block;
            width: 64px;
            height: 64px;
            margin-right: 8px;
            vertical-align: top;
            background: url( ../../../images/taiji.jpg) left top / contain;
            border-radius: 50%;
        }

        .logo-title{

            display: inline;
            font-size:1.625rem;
            letter-spacing: 0.1em;
            color: #fff;
        }

    }

    .userinfo-bar{

        position:absolute;
        z-index: 6;
        right: 60px;
        bottom: 0;
        height: 64px;
        margin-top: 50px;
        transition: .3s;

        .username{

            min-width: 86px;
            max-width: 110px;
            height: 48px;
            line-height: 40px;
            padding: 8px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: #2b2b2b;
            background-color: #fff;
            cursor: pointer;
            border-radius: 4px 4px 0 0;

            .user-face-icon{

                display: inline-block;
                width: 40px;
                height: 40px;
                vertical-align: bottom;
                background: url( ../../../images/taiji.jpg) left top / contain;
                border-radius: 50%;
            }

            .user-title{

                padding: 0 6px;
            }
        }

        &:hover{

            .username{

                background-color: #333;
                background-color: rgba( 0, 0, 0, .8 );
                color: #fff;
            }
        }

        .user-menu{

            display:none;
            padding: 10px;
            border: 1px solid #e3e3e3;
            text-align: center;
            background-color: rgba( 255, 255, 255, .9 );
            border-radius: 0 0 4px 4px;

            .item{

                display:block;
                border-radius:3px;
                font-size: 13px;
                padding: 6px;
                margin-bottom: 4px;

                &:hover{

                    color: #fff;
                    background-color: #666;
                }

                &.ban{

                    background-color: #bebebe;
                    cursor: default;
                }

            }

        }
    }


}

// 头部弹出的窗口样式
.upward-page{
    
    &.up-header{

        z-index: 10;
    }


    .up-main{

        &.header-content{

            position:absolute;
            top:80px;
            left:50%;
            width: 680px;
            margin-top: 60px;
            margin-left: -340px;
            overflow:hidden;
            background-color:#fff;
            border-radius: 6px 6px 0 0;
            box-shadow: 0 0 6px rgba( 0, 0, 0, .6 );
        }

        .nav{

            height: 40px;
            padding: 0 20px;
            overflow: hidden;
            background: linear-gradient( to bottom, #1da02b, #2ebb3d );

            .nav-item{

                float: left;
                font-size: 16px;

                a{
                    display: block;
                    height: 26px;
                    margin: 10px 4px 0;
                    padding: 4px 8px;
                    color: #fff;
                    letter-spacing: 1px;
                    border-radius: 4px;
                }

                &.active{

                    a{
                        color: #666;
                        background-color: #fff;
                    }
                }
            }
        }

        .content{


            padding: 40px;
            .content-item{

                display: none;
                &.active{

                    display: block;
                }

                .item{
                        
                    position: relative;
                    margin-bottom: 12px;

                    display:block;
                    /* .input{
                        width: 280px;
                        padding: 8px;
                        margin-left: 4px;
                        border: 1px solid #ccc;
                        font-size: 14px;
                        color: #666;
                        &.disabled{
                    
                            background-color: #ebebeb;
                        }
                    } */
                    
                    .tip-box{
                        display: none;
                        margin-left: 105px;
                    }
                }

                .btn-box{

                    padding: 20px 0 0 160px;
                }
            }

        }
    }
}