/*
* @Author: comely-fox
* @Date:   2018-05-24 21:38:58
* @Last Modified by:   comely-fox
* @Last Modified time: 2018-06-06 11:41:49
*/
.module-tab-tag{
    position:relative;
    height: 50px;
    line-height: 40px;
    border-bottom: 1px solid #e3e3e3;
    background:linear-gradient(to bottom, #e1e1e1, #fff);
    padding: 10px 30px 0;
    font-size: 13px;
    .tab-tag-wrap{
        position: relative;
        height: 100%;
        bottom:-1px;
        overflow:hidden;
    }
    .tab-tag{
        position: absolute;
        display: inline-block;
        margin: 0px 4px;
        width: 82px;
        height: 50px;
        padding: 0 16px;
        border: 1px solid #ccc;
        border-top: 4px solid #dac638;
        text-align: center;
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;
        background-color: #fff;
        border-radius: 4px 4px 0 0;
        transition: .3s;
        -moz-user-select:none;
        -webkit-user-select:none;
        -ms-user-select:none;
        -khtml-user-select:none; //早期浏览器
        user-select:none;
        &.active{
            border-top-color: #1da02b;
            animation: tabTag .4s  ease-out;
        }

        .close{
            position:absolute;
            right: 4px;
            top:3px;
            color: #666;
            width:14px;
            height: 14px;
            border-radius: 50%;
            display: none;
            &:hover{
                color: #fff;
                background-color: red;
            }
        }
    }
    .arrow{
        display: none;
        position:absolute;
        right: 42px;
        top: 12px;
        font-size: 34px;
        .next,
        .prev{
            color: #666;
            margin: 0 4px;
            &:hover{
                color: red;
            }
        }
    }
}

@keyframes tabTag{
    from {
        transform: translateY( 20px );
    }
    to {
        transform: translateY( 0 );
    }
}