/*
* @Author: comely-fox
* @Date:   2018-06-25 18:28:29
* @Last Modified by:   comely-fox
* @Last Modified time: 2018-06-25 19:00:18
*/


.upward-page{

    .up-main{

        &.loading-content{

            position: fixed;
            top:0;
            bottom: 0;
            left:0;
            right: 0;
            width: 400px;
            height: 180px;
            opacity: 0.6;
            box-shadow: none;

        }

    }

}