<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <!-- 引用头部 -->
    <%= require( 'html-loader!./layout/header.html' ) %>
    <main class="main clearfix">
        <!-- 引用左侧菜单栏 -->
        <%= require( 'html-loader!./layout/side.html' ) %>
        <!-- 右侧内容区 -->
        <div class="main-wrap">
            <!-- 选项卡 -->

        </div>
    </main>
    <%= require( 'html-loader!./layout/tip.html' ) %>
    <%= require( 'html-loader!./layout/footer.html' ) %>
</body>
</html>