<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <header>

         <h2></h2>

    </header>
    <main>

        <div class="login-wrap">

            <h2 class="login-wrap-title">管理员登录</h2>

            <div class="item">

                <label class="input-box input-login">

                    <span class="input-icon fa fa-user"></span>
                    <input type="text" class="input include-icon username" name="username" autocomplete="off" value="admin">
                    <span class="tip-text username"></span>

                </label>

            </div>

            <div class="item">

                <label class="input-box input-login pass">

                    <span class="input-icon fa fa-lock"></span>
                    <input type="password" class="input include-icon password" name="password" value="admin">
                    <span class="tip-text password"></span>
                    <i class="fa fa-eye-slash input-veiw"></i>

                </label>

            </div>

            <div class="item">

                <button class="btn-login link">
                    <div class="btn-text">登录</div>
                    <!-- <div class="loading-effect">
                        <span class="circle circle-1"></span>
                        <span class="circle circle-2"></span>
                        <span class="circle circle-3"></span>
                        <span class="circle circle-4"></span>
                        <span class="circle circle-5"></span>
                        <span class="circle circle-6"></span>
                        <span class="circle circle-7"></span>
                        <span class="circle circle-8"></span>
                        <span class="circle circle-9"></span>
                    </div> -->
                </button>

            </div>

        </div>

    </main>

    <%= require( 'html-loader!./layout/tip.html' ) %>
    <%= require( 'html-loader!./layout/footer.html' ) %>

</body>
</html>