/*
* @Author: comely-fox
* @Date:   2018-05-23 10:10:46
* @Last Modified by:   comely-fox
* @Last Modified time: 2018-06-03 11:15:41
*/

%autoSize{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.module-mask{
    @extend %autoSize;
    z-index: 66;
    background-color: rgba( 0, 0, 0, .2 );
}
.module-tip{
    @extend %autoSize;
    position: fixed;
    z-index: 100;
    width: 340px;
    height: 190px;
    letter-spacing: 1px;
    overflow: hidden;
    background-color:#fff;
    transform: translateY( -100px );
    border-radius: 4px 4px 0 0;
    box-sizing: border-box;
    -animation: moveTip .3s;
    .title{
        color:  #fff;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        padding-left: 14px;
        background-color: #1da02b;
    }
    .content{
        height: 148px;
        border:1px solid #ececec;
    }
    /* 提示信息 */
    .tip{
        padding:  20px;
        overflow: hidden;
        height: 50px;
        .fa{
            float: left;
            width:  50px;
            height: 46px;
            margin-left: 40px;
            margin-right: 20px;
            text-align: center;
            color:  #fff;
            font-size: 46px;
            border-radius: 50%;
        }

        // 正确
        .fa-check{
            background-color: #1da02b;
        }

        // 错误
        .fa-close{
            background-color: red;
        }

        // 疑问
        .fa-question{
            background-color: #666;
        }

        // 提示
        .fa-info{
            background-color: #999;
        }
        .msg{
            position: relative;
            top: 4px;
            font-size:  14px;
            font-weight: bold;
            &.error{
                color: #f50d0d;
            }
            &.success{
                color: #1da02b;
            }
            &.query{
                color: #333;
            }
            &.info{
                color: #666;
            }
        }
    }

    /* 按钮 */
    .btn{
        text-align: center;
        .link{
            margin: 0 8px;
        }
        .close{
            display: none;
            background-color: #666;

            &:hover{
                background-color: #333;
            }
        }

        .confirm{
            display: none;

            &.delete{
                background-color: red;
                &:hover{
                    background-color:#d61010;
                }
            }
        }
    }
}



@keyframes moveTip{
    from {
        transform: translateY( -200px );
        opacity: 0;
    }
    to {
        transform: translateY( -100px );
        opacity: 1;
    }
}