<!-- 后台公共头部 -->
<header class="header clearfix">

    <!-- logo -->
    <div class="logo-bar">

        <!-- logo 图标 -->
        <i class="logo-icon"></i>

        <!-- logo 标题 -->
        <h2 class="logo-title">CMS后台管理系统</h2>

    </div>
    <!-- logo END -->

    <!-- 用户相关信息与菜单栏 -->
    <div class="userinfo-bar">

        <!-- 展示登录的用户名与头像 -->
        <div class="username">

            <!-- 头像 -->
            <i class="user-face-icon"></i>

            <!-- 用户名 -->
            <span class="user-title"></span>

        </div>
        <!-- 展示登录的用户名与头像 END -->

        <!-- 用户下拉菜单 -->
        <div class="user-menu">

            <a class="item user" href="javascript:" data-id="1">用户资料</a>
            <a class="item user" href="javascript:" data-id="2">修改密码</a>
            <a class="item logout" href>注销用户</a>

        </div>
        <!-- 用户下拉菜单 END -->

    </div>
    <!-- 用户相关信息与菜单栏 END -->

</header>