<!-- 后台左侧菜单 -->
<div class="side-nav">

    <!-- 控制台 -->
    <h3 class="control">
        <i class="fa fa-home control-icon"></i>
        控制台
        <button class="side-nav-switch reduce" title="隐藏导航">
            <span class="fa fa-caret-left"></span>
        </button>
        <button class="side-nav-switch stretch" title="显示导航">
            <span class="fa fa-caret-right"></span>
        </button>
    </h3>

    <!-- 子菜单 -->

</div>