<div class="module-mask"></div>
<div class="module-tip">
    <h6 class="title"></h6>
    <div class="content">
        <div class="tip">
            <i class="fa"></i>
            <span class="msg"></span>
        </div>
       <div class="btn">
            <button type="" class="link confirm">确认</button>
            <button type="" class="link close">关闭</button>
       </div>
    </div>
</div>
