/*
* @Author: comely-fox
* @Date:   2018-05-13 16:36:46
* @Last Modified by:   comely-fox
* @Last Modified time: 2018-06-27 10:52:55
*
* 登录页样式
*/


// 头部
header{

    padding: 140px;
    text-align: center;
    font-size: 1.625em;
    color:  white;
    background-color: #1da02b;
    opacity: .8;
    box-shadow: 0 5px 8px 3px #dedede;
}

// 登录框样式
.login-wrap{

    position: relative;
    top:  -60px;
    width:  360px;
    padding: 40px;
    margin:  0 auto;
    border-radius: 6px;
    background: rgba( 255, 255, 255, .9 );
    box-shadow: 0 15px 2px 1px rgba( 0, 0, 0, .3 );

    // 登录框标题
    .login-wrap-title{

        font-size: 1.125em;
        padding-bottom: 20px;
        text-align: center;
        letter-spacing:0.25em;
    }

    // 登录框行项
    .item{

        padding: 10px 20px;

        // 控件容器样式
        .input-login{

            width:100%;
            background-color: #fff;

            // 控件样式
            .input{

                font-size: 1.125em;
                color: #666;
                width: 266px;

                &.password{

                    width: 246px;
                }
            }

            // 提示容器
            .tip-text{

                position:absolute;
                z-index:3;
                top: 8px;
                right:8px;
                padding: 0 4px;
                line-height: 1.5rem;
                text-align:center;
                font-size: 0.8125em;
            }

            // 控件容器成功 提示容器样式
            &.success{

                .tip-text{

                    font-size: 1.625em;
                    background-color: #fff;
                }

            }

            // 控件容器失败 提示容器样式
            &.error{

                .tip-text{

                    color:white;
                    background:red;
                    border-radius: 3px;
                }

            }

            .fa-exclamation-circle:before{

                margin: 0 5px;
            }

        }

        .btn-login{

            width: 100%;
            height:40px;
            font-size:1.125em;
            background-color: #2e68aa;

            &:hover{

                background-color: #2f86f6;
            }

            .loading-effect{

                display: none;
                width: 22px;
                height: 22px;

                .circle:before{

                    background-color: #fff;
                }
            }

        }

    }

}




