/*
* @Author: comely-fox
* @Date:   2018-05-26 16:21:36
* @Last Modified by:   comely-fox
* @Last Modified time: 2018-05-27 11:28:04
*/
.pagination{
    line-height: 34px;
    font-size: 0;
    color: #666;
    user-select: none;
    .p-nums{
        display:inline-block;
        .p-item{
            display: inline-block;
            width: 40px;
            height: 32px;
            background-color: #efefef;
            border: 1px solid #b3b3b3;
            text-align: center;
            margin: 0 2px;
            font-size: 13px;
            color: #363636;
            cursor: pointer;
            border-radius: 2px;
            &.btn{
                width: 60px;
            }
            &:hover{
                border-color: red;
            }
            &.active{
                background-color: red;
                border-color:#fff;
                color: white;
            }
            &.disabled{
                background-color: #fefefe;
                color: #999;
                &:hover{
                    border: 1px solid #b3b3b3;
                    cursor: default;
                }
            }
        }

        .p-break{
            padding: 0 14px;
            font-size: 20px;
        }
    }
    .skip{
        display:inline-block;
        margin-left: 14px;
        font-size: 14px;
        .total{
        }
        .num{
            margin: 0 2px;
        }
        .go{
            margin-left: 8px;
            .go-num{
                width: 45px;
                height: 32px;
                border: 1px solid #b3b3b3;
                text-align:center;
                margin: 0 2px;
            }
        }
    }
}