/*
* @Author: comely-fox
* @Date:   2018-05-19 15:08:31
* @Last Modified by:   comely-fox
* @Last Modified time: 2018-06-23 23:18:53
*/


.side-nav{

    position: relative;
    float: left;
    left: 0;
    width: 280px;
    height: 100%;
    border: 1px solid #ccc;
    font-size: 14px;
    letter-spacing: 2px;
    color: #666;
    background-color: #fff;
    box-sizing: border-box;
    transition: .3s;

    .control{

        position:relative;
        line-height: 60px;
        padding-left: 30px;
        border-bottom: 1px solid #e3e3e3;
        background-color: #efefef;
        background:linear-gradient(to bottom, #e1e1e1, #fff );

        .control-icon{

            position:relative;
            top: 2px;
            font-size:26px;
        }

        .side-nav-switch{

            position:absolute;
            top: 18px;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            color: #fff;
            background-color: #1da02b;
            cursor: pointer;

            .fa{

                position:relative;
                top: 0px;
                font-size: 20px;
            }

            &.reduce{

                right: 0;
                border-radius: 3px 0 0 3px;
            }

            &.stretch{

                display:none;
                right: -21px;
                border-radius: 0 3px 3px 0;

            }
        }
    }

    .item{

        border-bottom: 1px solid #cecece;
        cursor: pointer;

        .title{

            padding: 16px 16px 16px 30px;
            background-color: #eee;

            // 菜单标题被hover active中的时候
            &:hover,
            &.active{

                background-color: #169023;
                color: #fff;

                .title-icon{

                    color: #fff;
                    font-size: 26px;
                }
            }

            .title-icon{

                position:relative;
                top: 3px;
                font-size:22px;
                color: #169023;
                transition:font-size .4s ;
            }

        }
    }

    .item-menu{

        display:none;
        padding:10px 0 10px 0;
        margin-left: 30px;
        border-left: 1px dotted #ccc;
        background-color: #fff;

        .item-menu-list{

            line-height: 34px;
            overflow: hidden;

            // 子导航项
            .list-subNav{

                display:inline-block;
                width: 100%;
                margin-right: -30px;
                color: #666;

                &:hover{

                    background-color: #ebebeb;
                    color: #000;
                }

                &.forbid{

                    color: #a9a1a1;
                    text-decoration: line-through;

                    &:hover{

                        color: #a9a1a1;
                        background-color: #fff;
                    }
                }

            }

        }

        .dotted{

            position: relative;
            display: inline-block;
            width: 18px;
            margin-right: 3px;
            border-top: 1px dotted #ccc;
            vertical-align: middle;
        }

    }

}